@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
  background: url(mark-dark.jpg) no-repeat center bottom fixed;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

/* canvas.makeStyles-particlesCanvas-1 { 
  height: 90% !important; 
} */