body{
  background: url(teclado_monitores_az.jpg) no-repeat center top fixed;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

canvas.makeStyles-particlesCanvas-1 { 
  height: 88% !important; 
}